<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - Question Mark</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<div class="page-wrapper">
    <div class="card">

        <div class="logo">
            <div class="logo-icon">🏁</div>
            <h1>QUESTION MARK</h1>
            <p>Compete. Responda. Vença.</p>
        </div>

        <div class="divider"></div>

        <div class="flash-erro" th:if="${erro}" th:text="${erro}"></div>
        <div class="flash-ok" th:if="${mensagem}" th:text="${mensagem}"></div>

        <form action="/login" method="post">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" 
                   placeholder="Digite seu nome" required />


            <button class="btn" type="submit">Entrar na corrida</button>
        </form>

        <div class="footer">
            Instituto Federal da Paraíba 
            <span class="badge">IFPB</span>
        </div>
    </div>
</div>

</body>
</html>